header {
  width: 100%;
}
:host{
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 15px;
  z-index: 1000;
  background: #FCB62B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.header__img{
  width: 59px;
  height: 53px;
}
.header__logout {
  color: #FFFFFF;
  cursor: pointer;
}
