
form {
  width: 385px;
  margin: 35px 0;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group + div {
  margin-top: 20px;
}

label {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #fffafa;
}
.photoRow {
  display: flex;
  flex-direction: row;
  align-items: center
}

.photoRow input {
  margin-right: 1%;
  width: 95%;
}
