.solicitacao-dashboard {
  padding: 20px 0 20px 20px;

  input {
    border: 1px solid #C4C4C4;
    margin-top: 0;
  }

  &-title{
    padding-right: 40px;
    color: #fcb62b;
    font-weight: 700;
    font-size: 24px;
  }

  &-span {
    font-weight: bold;
    color: #fcb62b;
    font-size: 24px;
    margin-right: 50px;
  }

  &-select {
    border: 1px solid #C4C4C4;
    padding-right: 5px;
    padding-left: 5px;
  }

  &-btn {
    background-color: #fcb62b;
    border: 1px solid #fcb62b;
    border-radius: 15px;

    width: 322px;
    height: 32px;
    margin: 0;
    margin-left: 30px;

    font-weight: bold;
    color: #FFFFFF;
  }

  &-label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    background-color: #fcb62b;
    color: #FFFFFF;
    font-size: 20px;
  }

  &-input {
    border: 1px solid #C4C4C4;
    margin-top: 0;

    &-1 {
      width: 220px;
    }
    &-2 {
      width: 100px;
    }
  }
}
